<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="internal-nlog.txt">
	<targets>
		<target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log" layout="[${longdate}] ${uppercase:${level}} - ${logger}: ${message} ${exception}" />
		<target xsi:type="File" name="own" fileName="nlog-own-${shortdate}.log" layout="[${longdate}] ${uppercase:${level}} - ${logger}: ${message} ${exception}" />
	</targets>
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="own" />
	</rules>
</nlog>